<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>

  <p>
  <button [routerLink]="['/seattle']">SeattleComponent</button>
  <button [routerLink]="['/sanjose']">SanjoseComponent</button>
  <button [routerLink]="['/burbank']">BurbankComponent</button>
  <button [routerLink]="['/dallas']">DallasComponent</button>
  <button [routerLink]="['/washington']">WashingtonComponent</button>
  <button [routerLink]="['/chicago']">ChicagoComponent</button>
  </p>

  
  <router-outlet></router-outlet>
